[project]
name = "manafish-firmware"
version = "1.0.0"
requires-python = ">=3.12"
dependencies = [
  "websockets>=15.0.1",
  "numpy>=2.3.1",
  "smbus2>=0.5.0",
  "bmi270>=0.4.3",
  "ms5837>=0.0.1",
  "pyserial>=3.5",
]

[tool.ruff]
