name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
      with:
        python-version-file: "pyproject.toml"

    - name: Install uv
      uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
      with:
        enable-cache: true

    - name: Install dependencies
      run: uv sync

    - name: Install ruff and ty
      run: uv tool install ruff && uv tool install ty

    - name: Run ruff linter
      run: ruff check --no-fix

    - name: Run ruff formatter check
      run: ruff format

    - name: Run ty type check
      run: ty check
