name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version-file: "pyproject.toml"

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Install dependencies
      run: uv sync

    - name: Install ruff and basedpyright
      run: uv tool install ruff && uv tool install basedpyright

    - name: Run ruff linter
      run: ruff check --no-fix

    - name: Run ruff formatter check
      run: ruff format

    - name: Run basedpyright type check
      run: basedpyright
